.icon-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  font-size: 28px; /* tamanho do ícone */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.icon-whatsapp:hover {
  background-color: #20b954;
  transform: scale(1.1);
}