body {
  /*background: linear-gradient(-38deg, #0b2f5c, #0b2f5c 18%, #0b2243 0, #0b2243 36%, #014669 0, #011f2e);
  background: linear-gradient(to right, #18445c, #0A0A0A);
  background-color: #0A0A0A;*/
  margin: 0;
  padding: 0;
}