/* Primeira Sessão Pós Header */
.hero1-container {
    background: linear-gradient(-38deg, #0b2f5c, #0b2f5c 18%, #0b2243 0, #0b2243 36%, #014669 0, #011f2e);
    width: 100%;
    height: 100vh;
    padding: 50px 20px;
    display: flex;
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    align-items: center; /* Alinha o conteúdo verticalmente ao centro */
    color: white;
}

/* Estilo do Título */
.hero1-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilo do Texto e do Botão */
.hero1-text {
    font-family: 'Arial', sans-serif;
    max-width: 750px;
    display: flex;
    flex-direction: column; /* Empilha o conteúdo verticalmente */
    align-items: flex-start; /* Alinha os itens (texto e botões) à esquerda */
    justify-content: flex-start; /* Alinha o conteúdo verticalmente ao topo */
    text-align: left; /* Alinha o texto à esquerda */
    font-size: 1.25rem;
    line-height: 1.5;
}

/* Estilo dos Botões */
.hero1-buttons {
    display: flex;
    flex-direction: row; /* Alinha os botões horizontalmente */
    justify-content: flex-start; /* Alinha os botões à esquerda */
    margin-top: 20px; /* Dá um espaçamento acima dos botões */
}

button {
    margin-right: 10px; /* Espaçamento entre os botões */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/*Responsividade */
@media (max-width: 768px) {
    .hero1-container {
        height: 100%; /* Ajusta a altura para o conteúdo */
        padding: 100px 10px;
        text-align: center; /* Centraliza o texto em telas menores */
        justify-content: center; /* Centraliza o conteúdo horizontalmente */
    }

    .hero1-text {
        align-items: center; /* Centraliza os itens (texto e botões) */
        text-align: flex-start; /* Mantém o texto alinhado à esquerda */
    }

    .hero1-buttons {
        flex-direction: column; /* Empilha os botões verticalmente */
        align-items: center; /* Centraliza os botões */
        gap: 10px; /* Espaçamento entre os botões na vertical */
        margin-top: 20px; /* Dá um espaçamento acima dos botões */
    }

    button {
        margin: 10px 0; /* Espaçamento entre os botões na vertical */
    }
    .hero1-title {
        font-size: 1.6rem;
        line-height: 1.3; 
        text-align: center;
    }
    .hero1-description {
        font-size: 1rem; 
        line-height: 1.5;
        text-align: center;
        padding: 0 15px;
    }
}